*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 80vw;
    margin: auto;
}

a:active{
    color: #000;
    text-decoration: none;
}

header{
    position: relative;
}

header div{
    background: linear-gradient( rgba(102,102,102,0.2) 0%, rgba(0,0,0,0.5) 100%), url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    width: 100%;
    min-height: 50vh;   
}

header h1{
    font-size: 6rem;
}

header h2{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.6rem 0;
}

.logo{
    width: 10rem;
    position: absolute;
    top: 86%;
    right: 15%;
}

main{
    display: flex;
    padding: 3rem 2rem;
    font-size: 1.8rem;
    width: 100%;
}

main nav{
    width: 15%;
    display: flex;
    flex-direction: column;
}

main section{
    width: 85%;
}

main nav a{
    margin-bottom: 6.4rem;
}

main section h2{
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
}

main section p{
    padding: 0 0 2rem 1rem;
}

/* ## RULES ## */
.contenedor-rules{
    padding-left: 4rem;
    list-style-position: inside;
}

.contenedor-rules div{
    width: 75%;
    text-align: center;
}

.contenedor-rules p{
    padding-left: 0;
}

.contenedor-rules h3{
    margin: 3rem 0 2rem;
}

.contenedor-rules p::first-letter{
    margin-left: 3rem;
}

.contenedor-rules li{
    margin-bottom: 2rem;
}

.contenedor-rules li::marker{
    font-weight: 600;
}    

.lista-regulations h4,
.lista-regulations p{
    display: inline;
}

.lista-fields li{
    margin-bottom: 0;
    list-style-type: lower-alpha;
}

.contenedor-rules ul:last-of-type{
    list-style-type: circle;
    margin-left: 6rem;
}

.contenedor-rules ul:last-of-type p::first-letter{
    margin-left: 0;
}

/* ## GAME INFO ## */
.contenedor-gameInfo{
    width: 70%;
    padding-left: 4rem;
}

.contenedor-gameInfo div h2{
    text-align: center;
}

.contenedor-gameInfo div:first-child p{
    font-style: italic;
}

.contenedor-gameInfo div:first-child p:last-child{
    text-decoration: underline;
}

table{
    margin: 2rem 0 6rem;
}

th,
td{
    padding: 0.6rem 5rem 0.6rem 0.6rem;
    text-align: left;
}

table td:first-child{
    text-align: right;
}

.contenedor-gameInfo article p span{
    font-weight: 600;
}

.contenedor-gameInfo article p:nth-child(2){
    margin-bottom: 3rem;
}

.contenedor-gameInfo article div{
    display: flex;
    justify-content: space-between;
}