*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 80vw;
    margin: auto;
}

a:active{
    color: #000;
    text-decoration: none;
}

header{
    position: relative;
}

header div{
    background: linear-gradient( rgba(102,102,102,0.2) 0%, rgba(0,0,0,0.5) 100%), url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    width: 100%;
    min-height: 50vh;   
}

header h1{
    font-size: 6rem;
}

header h2{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.6rem 0;
}

.logo{
    width: 10rem;
    position: absolute;
    top: 35rem;
    left: 94rem;
}

main{
    display: flex;
    padding: 3rem 2rem;
    font-size: 1.8rem;
    width: 100%;
}

main nav{
    width: 15%;
    display: flex;
    flex-direction: column;
}

main section{
    width: 60%;
}

main nav a{
    margin-bottom: 6.4rem;
}

main section h2{
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
}

main section p{
    padding: 0 0 2rem 1rem;
}